In [91]:
#Importing pandas

import pandas as pd
print(pd.__version__)

2.1.3

In [92]:
#Read Files in Pandas
data = pd.read_csv('vgsales.csv')
data
pd.DataFrame(data)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [93]:
#Print Data from Top
data.head()
data.head(20)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31
10,11,Nintendogs,DS,2005.0,Simulation,Nintendo,9.07,11.00,1.93,2.75,24.76
11,12,Mario Kart DS,DS,2005.0,Racing,Nintendo,9.81,7.57,4.13,1.92,23.42
12,13,Pokemon Gold/Pokemon Silver,GB,1999.0,Role-Playing,Nintendo,9.00,6.18,7.20,0.71,23.10
13,14,Wii Fit,Wii,2007.0,Sports,Nintendo,8.94,8.03,3.60,2.15,22.72
14,15,Wii Fit Plus,Wii,2009.0,Sports,Nintendo,9.09,8.59,2.53,1.79,22.00
15,16,Kinect Adventures!,X360,2010.0,Misc,Microsoft Game Studios,14.97,4.94,0.24,1.67,21.82
16,17,Grand Theft Auto V,PS3,2013.0,Action,Take-Two Interactive,7.01,9.27,0.97,4.14,21.40
17,18,Grand Theft Auto: San Andreas,PS2,2004.0,Action,Take-Two Interactive,9.43,0.40,0.41,10.57,20.81
18,19,Super Mario World,SNES,1990.0,Platform,Nintendo,12.78,3.75,3.54,0.55,20.61
19,20,Brain Age: Train Your Brain in Minutes a Day,DS,2005.0,Misc,Nintendo,4.75,9.26,4.16,2.05,20.22

In [94]:
#Print Data from Bottom
data.tail()
data.tail(15)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
16583,16586,Carmageddon 64,N64,1999.0,Action,Virgin Interactive,0.01,0.00,0.00,0.0,0.01
16584,16587,Bust-A-Move 3000,GC,2003.0,Puzzle,Ubisoft,0.01,0.00,0.00,0.0,0.01
16585,16588,Breach,PC,2011.0,Shooter,Destineer,0.01,0.00,0.00,0.0,0.01
16586,16589,Secret Files 2: Puritas Cordis,DS,2009.0,Adventure,Deep Silver,0.00,0.01,0.00,0.0,0.01
16587,16590,Mezase!! Tsuri Master DS,DS,2009.0,Sports,Hudson Soft,0.00,0.00,0.01,0.0,0.01
16588,16591,Mega Brain Boost,DS,2008.0,Puzzle,Majesco Entertainment,0.01,0.00,0.00,0.0,0.01
16589,16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016.0,Action,dramatic create,0.00,0.00,0.01,0.0,0.01
16590,16593,Eiyuu Densetsu: Sora no Kiseki Material Collec...,PSP,2007.0,Role-Playing,Falcom Corporation,0.00,0.00,0.01,0.0,0.01
16591,16594,Myst IV: Revelation,PC,2004.0,Adventure,Ubisoft,0.01,0.00,0.00,0.0,0.01
16592,16595,Plushees,DS,2008.0,Simulation,Destineer,0.01,0.00,0.00,0.0,0.01
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002.0,Platform,Kemco,0.01,0.00,0.00,0.0,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003.0,Shooter,Infogrames,0.01,0.00,0.00,0.0,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008.0,Racing,Activision,0.00,0.00,0.00,0.0,0.01
16596,16599,Know How 2,DS,2010.0,Puzzle,7G//AMES,0.00,0.01,0.00,0.0,0.01
16597,16600,Spirits & Spells,GBA,2003.0,Platform,Wanadoo,0.01,0.00,0.00,0.0,0.01

In [95]:
#Converting Data into Dataframe or Table
data2 = {'Name' : ["Sumeet", "Harsh", "Sakshi"],
         'Age' : [6,5,3]
         }

data2
pd.DataFrame(data2)

     Name  Age
0  Sumeet    6
1   Harsh    5
2  Sakshi    3

In [96]:
#Converting Data to CSV
data2 = {'Name': ['John', 'Alice', 'Bob'],
        'Age': [25, 30, 35],
        'City': ['New York', 'San Francisco', 'Los Angeles']}

df = pd.DataFrame(data2)

df.to_csv('output.csv', index=False)

In [97]:
#Information about Data
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [98]:
#Describe Data 
data.describe()

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
count,16598.000000,16327.000000,16598.000000,16598.000000,16598.000000,16598.000000,16598.000000
mean,8300.605254,2006.406443,0.264667,0.146652,0.077782,0.048063,0.537441
std,4791.853933,5.828981,0.816683,0.505351,0.309291,0.188588,1.555028
min,1.000000,1980.000000,0.000000,0.000000,0.000000,0.000000,0.010000
25%,4151.250000,2003.000000,0.000000,0.000000,0.000000,0.000000,0.060000
50%,8300.500000,2007.000000,0.080000,0.020000,0.000000,0.010000,0.170000
75%,12449.750000,2010.000000,0.240000,0.110000,0.040000,0.040000,0.470000
max,16600.000000,2020.000000,41.490000,29.020000,10.220000,10.570000,82.740000

In [101]:
#Selecting Specific Column
gameNames = data["Name"]
gameNamesRank = data[["Name", "Rank"]]
gameNamesRank

                                                   Name   Rank
0                                            Wii Sports      1
1                                     Super Mario Bros.      2
2                                        Mario Kart Wii      3
3                                     Wii Sports Resort      4
4                              Pokemon Red/Pokemon Blue      5
...                                                 ...    ...
16593                Woody Woodpecker in Crazy Castle 5  16596
16594                     Men in Black II: Alien Escape  16597
16595  SCORE International Baja 1000: The Official Game  16598
16596                                        Know How 2  16599
16597                                  Spirits & Spells  16600

[16598 rows x 2 columns]

In [100]:
#Printing no of Col and Rows
data.shape

(16598, 11)

In [102]:
#Showing True for more than 2006
data['Year'] >= 2006

0         True
1        False
2         True
3         True
4        False
         ...
16593    False
16594    False
16595     True
16596     True
16597    False
Name: Year, Length: 16598, dtype: bool

In [104]:
#Remove Columns
data.drop(columns=['Year', 'Platform'])

,Rank,Name,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [111]:
# Convert strings to lowercase
data['Name'] = data['Name'].str.lower()

# Convert strings to uppercase
data['Genre'] = data['Genre'].str.upper()
data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,wii sports,Wii,2006.0,SPORTS,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,super mario bros.,NES,1985.0,PLATFORM,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,mario kart wii,Wii,2008.0,RACING,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,wii sports resort,Wii,2009.0,SPORTS,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,pokemon red/pokemon blue,GB,1996.0,ROLE-PLAYING,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,woody woodpecker in crazy castle 5,GBA,2002.0,PLATFORM,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,men in black ii: alien escape,GC,2003.0,SHOOTER,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,score international baja 1000: the official game,PS2,2008.0,RACING,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,know how 2,DS,2010.0,PUZZLE,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,spirits & spells,GBA,2003.0,PLATFORM,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [113]:
#Check whether data has Null Values
data.isnull()
data.isnull().sum()

Rank              0
Name              0
Platform          0
Year            271
Genre             0
Publisher        58
NA_Sales          0
EU_Sales          0
JP_Sales          0
Other_Sales       0
Global_Sales      0
dtype: int64

In [122]:
# Remove rows with any missing values
data.dropna(inplace=True)
data.isnull().sum()

Rank            0
Name            0
Platform        0
Year            0
Genre           0
Publisher       0
NA_Sales        0
EU_Sales        0
JP_Sales        0
Other_Sales     0
Global_Sales    0
dtype: int64

In [124]:
# Remove leading and trailing whitespaces from strings in a column
data['Name'] = data['Name'].str.strip()

0                                              wii sports
1                                       super mario bros.
2                                          mario kart wii
3                                       wii sports resort
4                                pokemon red/pokemon blue
                               ...
16593                  woody woodpecker in crazy castle 5
16594                       men in black ii: alien escape
16595    score international baja 1000: the official game
16596                                          know how 2
16597                                    spirits & spells
Name: Name, Length: 16291, dtype: object

In [125]:
data.replace(" ", "", regex=True, inplace=True)
data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,wiisports,Wii,2006.0,SPORTS,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,supermariobros.,NES,1985.0,PLATFORM,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,mariokartwii,Wii,2008.0,RACING,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,wiisportsresort,Wii,2009.0,SPORTS,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,pokemonred/pokemonblue,GB,1996.0,ROLE-PLAYING,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,woodywoodpeckerincrazycastle5,GBA,2002.0,PLATFORM,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,meninblackii:alienescape,GC,2003.0,SHOOTER,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,scoreinternationalbaja1000:theofficialgame,PS2,2008.0,RACING,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,knowhow2,DS,2010.0,PUZZLE,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,spirits&spells,GBA,2003.0,PLATFORM,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [126]:
# Remove duplicate rows based on all columns
data.drop_duplicates()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,wiisports,Wii,2006.0,SPORTS,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,supermariobros.,NES,1985.0,PLATFORM,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,mariokartwii,Wii,2008.0,RACING,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,wiisportsresort,Wii,2009.0,SPORTS,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,pokemonred/pokemonblue,GB,1996.0,ROLE-PLAYING,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,woodywoodpeckerincrazycastle5,GBA,2002.0,PLATFORM,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,meninblackii:alienescape,GC,2003.0,SHOOTER,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,scoreinternationalbaja1000:theofficialgame,PS2,2008.0,RACING,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,knowhow2,DS,2010.0,PUZZLE,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,spirits&spells,GBA,2003.0,PLATFORM,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [128]:
# Convert a column to a different data type
data['Rank'] = data['Rank'].astype('float')
data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1.0,wiisports,Wii,2006.0,SPORTS,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2.0,supermariobros.,NES,1985.0,PLATFORM,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3.0,mariokartwii,Wii,2008.0,RACING,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4.0,wiisportsresort,Wii,2009.0,SPORTS,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5.0,pokemonred/pokemonblue,GB,1996.0,ROLE-PLAYING,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596.0,woodywoodpeckerincrazycastle5,GBA,2002.0,PLATFORM,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597.0,meninblackii:alienescape,GC,2003.0,SHOOTER,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598.0,scoreinternationalbaja1000:theofficialgame,PS2,2008.0,RACING,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599.0,knowhow2,DS,2010.0,PUZZLE,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600.0,spirits&spells,GBA,2003.0,PLATFORM,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [129]:
# Rename columns
data.rename(columns={'Name': 'Original_Name'}, inplace=True)
data

,Rank,Original_Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1.0,wiisports,Wii,2006.0,SPORTS,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2.0,supermariobros.,NES,1985.0,PLATFORM,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3.0,mariokartwii,Wii,2008.0,RACING,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4.0,wiisportsresort,Wii,2009.0,SPORTS,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5.0,pokemonred/pokemonblue,GB,1996.0,ROLE-PLAYING,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596.0,woodywoodpeckerincrazycastle5,GBA,2002.0,PLATFORM,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597.0,meninblackii:alienescape,GC,2003.0,SHOOTER,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598.0,scoreinternationalbaja1000:theofficialgame,PS2,2008.0,RACING,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599.0,knowhow2,DS,2010.0,PUZZLE,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600.0,spirits&spells,GBA,2003.0,PLATFORM,Wanadoo,0.01,0.00,0.00,0.00,0.01